{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
<body>
<nav class="navbar navbar-expand-sm navbar-light navcolor">
      <!--<a class="navbar-brand" href="#">Nadhirsyah</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active fonttab" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link fonttab" href={% url 'about' %}>About</a>
          <a class="nav-item nav-link fonttab" href="#">Education</a>
          <a class="nav-item nav-link fonttab" href={% url 'experience' %}>Experience</a>
            <a class="nav-item nav-link fonttab" href={% url 'registration' %}>Registration</a>
        </div>
      </div>
    </nav>
 <div class="container backpanels">
        <div class="panel panel-default backpanels">
            <h2 class= "judul">Experience</h2>
            <div class="row">
                <div class = "col-3">
                    <img class="pmb" src={% static "image/pmb.png"%}>
                    <br>
                    <br>
                    <p class = "satu">Medical Staff</p>
                </div>
                <div class = "col-3">
                    <img class="pmb" src={% static "image/siwak.jpg"%}>      
                    <br>     
                    <br>
                    <p class = "satu">Consumption Staff</p>
                </div>
            </div>
        </div>
 </div>






</body>
</html>