{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light navcolor">
      <!--<a class="navbar-brand" href="#">Nadhirsyah</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <<div class="navbar-nav">
          <a class="nav-item nav-link active fonttab" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link fonttab" href={% url 'about' %}>About</a>
          <a class="nav-item nav-link fonttab" href="#">Education</a>
          <a class="nav-item nav-link fonttab" href={% url 'experience' %}>Experience</a>
            <a class="nav-item nav-link fonttab" href={% url 'registration' %}>Registration</a>
        </div>
      </div>
    </nav>

    <div class="container backpanels">
        <div class="panel panel-default backpanels">
            <div class="row">
                <div class="col-8">
                    <h2 class= "judul">Muhammad Nadhirsyah <br>Indra</h2>
                    <div class="row">
                        <div class="col-1">
                            <img class = "email" src={% static "image/email.png"%}> 
                        </div>
                        <div class="col-11">nadhirsyah@gmail.com</div>
                    </div>
                </div>
                <div class="col-4">
                    <img class = "resize" src={% static "image/foto.jpg"%}>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>