{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light navcolor">
      <!--<a class="navbar-brand" href="#">Nadhirsyah</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active fonttab" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link fonttab" href={% url 'about' %}>About</a>
          <a class="nav-item nav-link fonttab" href="#">Education</a>
          <a class="nav-item nav-link fonttab" href={% url 'experience' %}>Experience</a>
            <a class="nav-item nav-link fonttab" href={% url 'registration' %}>Registration</a>
        </div>
      </div>
    </nav>
<div class="container backforms">
    <h2 class= "judul">Registartion</h2>
  <form class="form-horizontal" action="/action_page.php">

       <div class="form-group row">
          <label for="nama" class="col-2 col-form-label">Nama:</label>
          <div class="col-10">
            <input class="form-control" type="text" id="nama">
          </div>
        </div>

      <div class="form-group row">
          <label for="datepicker" class="col-2 col-form-label">Tanggal Lahir:</label>
          <div class="col-10">
            <input id="datepicker" width="276" />
          </div>
        </div>

      <div class="form-group row">
          <label for="email" class="col-2 col-form-label">Email:</label>
          <div class="col-10">
            <input class="form-control" type="text" id="email">
          </div>
        </div>

      <div class="form-group row">
          <label for="username" class="col-2 col-form-label">Username:</label>
          <div class="col-10">
            <input class="form-control" type="username" id="username">
          </div>
        </div>
      <div class="form-group row">
          <label for="password" class="col-2 col-form-label">Password:</label>
          <div class="col-10">
            <input class="form-control" type="password" id="password">
          </div>
        </div>
      <div class="form-group row">
          <label for="password_conf" class="col-2 col-form-label">Password Confirmation:</label>
          <div class="col-10">
            <input class="form-control" type="password" id="password_conf">
          </div>
        </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <button type="submit" class="btn btn-dark" disabled>Submit</button>
    </div>
  </div>
</form>
</div>

</body>
</html>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>